//Stylistic variables
cell-border = rgba(68, 65, 66, 0.89)
border-radius = 7px 7px
// BASIC & DEFAULT flextable STYLING
.flextable
    display: flex
    flex-flow: row wrap
    flex: 100%
    overflow: auto
    -ms-overflow-style: -ms-autohiding-scrollbar
.flextable__header, .flextable__body, .flextable__body--fixed
    display: flex
    flex: 100%
    font-size: 15px
    flex-wrap: wrap
.flextable__header
    border-radius: border-radius 0 0
    background: rgb(62, 62, 65)
    overflow: hidden
.flextable__body
    border-radius: 0 0 border-radius
    overflow-x: hidden
    border-left: 1px solid cell-border
    border-right: 1px solid cell-border
    border-bottom: 1px solid cell-border
    background-color : rgb(249, 248, 245)
.flextable__row > div
    display: flex
    flex: 1 1
    font-family: Tahoma, Arial, Helvetica;
    overflow: hidden;
.flextable__body .flextable__row > div
    border-right: 1px solid cell-border
    border-bottom: 1px solid cell-border
    height: 50px
    display: flex
    align-items: center
    -webkit-text-size-adjust: none
.flextable__body .flextable__row > div:last-of-type
    border-right: none
.flextable__body .flextable__row:last-of-type > div
    border-bottom: none
.flextable__row
    display: flex
    flex: 100%
    overflow: hidden
.flextable__header .flextable__row > div
    color: white
    font-weight: bold
    padding: 15px 10px
    font-size: 16px
    border-left: 1px solid table-color
    border-bottom: 1px solid table-color
    display: flex
    flex: 1

.flextable__row > div > span
    white-space: nowrap
    padding: 10px
    overflow-x: auto;
    width: 100%
    -ms-overflow-style: -ms-autohiding-scrollbar !important
/*Helper Styling*/

//Centers horizontally and vertically
.flextable__cell-center
    align-items: center
    justify-content center

//Add scroll bar for FireFox: Targetting Windows
@-moz-document url-prefix()
    .flextable__row div:last-of-type
        margin-right: 20px;

//flextable FIXED STYLING
.flextable__body--fixed[data-max-height='3']
    max-height: 300px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__body--fixed[data-max-height='4']
    max-height: 400px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__body--fixed[data-max-height='5']
    max-height: 500px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__body--fixed[data-max-height='6']
    max-height: 600px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__fixed .flextable__row > div:first-child
    border-left: 0
//Colors for table headers
.flextable[data-color='green']  .flextable__header
    background: rgb(45, 179, 114)
.flextable[data-color='light-blue']  .flextable__header
    background: rgb(27, 146, 196)
.flextable[data-color='red']  .flextable__header
    background: rgb(242, 67, 67)
