//Stylistic variables
cell-border = rgb(167, 164, 164)
border-radius = 7px 7px
table-color = rgb(255, 255, 255)
header-color = rgb(240, 233, 212)
text-color = rgb(54, 52, 52)
// BASIC & DEFAULT flextable STYLING
.flextable
    display: flex
    flex-flow: row wrap
    flex: 100%
    overflow: auto
    -ms-overflow-style: -ms-autohiding-scrollbar
.flextable__row
    display: flex
    flex: 100%
    overflow: hidden
    border-bottom: 1px solid cell-border
.flextable__row > div
    display: flex
    flex: 1 1
    font-family: Tahoma, Arial, Helvetica;
    overflow: hidden;
.flextable__header, .flextable__body, .flextable__body--fixed
    display: flex
    flex: 100%
    font-size: 15px
    flex-wrap: wrap
.flextable__header
    border-radius: border-radius 0 0
    background: header-color
    color: text-color
    overflow: hidden
    border-top: 1px solid inherit
    border-left: 1px solid inherit
    border-right: 1px solid inherit
.flextable__header .flextable__row
    border: 1px solid
    border-color: header-color
.flextable__body
    border-radius: 0 0 border-radius
    overflow-x: hidden
    background-color: table-color
    border-left: 1px solid cell-border
    border-right: 1px solid cell-border
    border-bottom: 1px solid cell-border
.flextable__body .flextable__row > div
    border-right: 1px solid cell-border
    height: 50px
    display: flex
    align-items: center
    -webkit-text-size-adjust: none
.flextable__body .flextable__row > div:last-of-type
    border-right: none
.flextable__body .flextable__row:last-of-type
    border-bottom: none
.flextable__header .flextable__row > div
    color: inherit
    font-weight: bold
    padding-top: 15px
    padding-bottom: 10px
    font-size: 16px
    display: flex
    flex: 1
.flextable__header .flextable__row > div:not(:last-of-type),.flextable__body--no_borders .flextable__row > div:not(:last-of-type)
    margin-right: 10px
.flextable__row > div > span
    white-space: nowrap
    padding: 10px
    overflow-x: auto
    width: 100%
    color: inherit
    -ms-overflow-style: -ms-autohiding-scrollbar !important
// No Border styling
.flextable__body--no_borders .flextable__row > div
    border: none
.flextable__body--no_borders .flextable__row
    border-bottom: 1px solid cell-border
/*Helper Styling*/

//Centers horizontally and vertically
.flextable__cell-center
    align-items: center
    justify-content center

//Add scroll bar for FireFox: Targetting Windows
@-moz-document url-prefix()
    .flextable__row div:last-of-type
        margin-right: 20px;

//flextable FIXED STYLING
.flextable__body--fixed[data-max-height='3']
    max-height: 300px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__body--fixed[data-max-height='4']
    max-height: 400px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__body--fixed[data-max-height='5']
    max-height: 500px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__body--fixed[data-max-height='6']
    max-height: 600px
    -webkit-overflow-scrolling: touch
    overflow-y: scroll !important
    overflow-y: overlay !important
    -ms-overflow-style: -ms-autohiding-scrollbar !important
.flextable__fixed .flextable__row > div:first-child
    border-left: 0
//Colors for table headers
.flextable[data-color='green']  .flextable__header
    background: rgb(45, 179, 114)
    color: white
.flextable[data-color='green']  .flextable__header .flextable__row
    border-color: rgb(45, 179, 114) !important
.flextable[data-color='light-blue']  .flextable__header
    background: rgb(27, 146, 196)
    color: white
    border-color: rgb(27, 146, 196)
.flextable[data-color='light-blue']  .flextable__header .flextable__row
    border-color: rgb(27, 146, 196)
.flextable[data-color='red']  .flextable__header
    background: rgb(242, 67, 67)
    color: white
    border-color: rgb(242, 67, 67)
.flextable[data-color='red']  .flextable__header .flextable__row
    border-color: rgb(242, 67, 67)
.flextable[data-color='orange']  .flextable__header
    background: rgb(230, 119, 65)
    color: white
    border-color: rgb(230, 119, 65)
.flextable[data-color='orange']  .flextable__header .flextable__row
    border-color: rgb(230, 119, 65)
